# --- Maven (Compilação) ---
target/

# --- Eclipse / STS (Spring Tools Suite) ---
.metadata/
.classpath
.project
.settings/
*.launch
*.factorypath

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws

# --- Visual Studio Code ---
.vscode/

# --- Arquivos Compilados do Java ---
*.class

# --- Sistema Operacional ---
.DS_Store
Thumbs.db
